* {
  margin:  0;
  padding: 0;
  box-sizing:  border-box;


}
body {
  background-image: url('./back.jpg');
  background-size: cover;
  background-attachment: fixed;

}

.cardHighlight {
  min-height: 100%;
}

#top-body, .background-play {
  background-image:  linear-gradient(20deg, orange, lightyellow, yellow, lightyellow, orange);
  background-size: 500%;
  animation-name: product;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
@keyframes product {
  0% {background-position: 0% 20%;}
  20% {background-position: 20% 40%;}
  40% {background-position: 40% 60%;}
  60% {background-position: 60% 80%;}
  80% {background-position: 80% 100%;}
  100% {background-position: 0% 20%;}
}

#newhead {
  width: 70%;
  height: 2.5rem;
  background-color: red;
  border-radius: 0.4rem;
  animation-name: new;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

#icon-warning {
  background-color: yellow;
  animation-name: new;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}


@keyframes new {
  
  100% {background-color:orange;}
}

/*#form-login, #form-register {
  background-color: rgba(0, 0, 0, 0.2);
}*/

@media screen and (min-width: 561px) /*Mobile (+/-) 6inch Setting section*/
{
#form-login, #form-register, #clear-order {
  width:  60vw !important;
}
}

@media screen and (min-width: 769px) /*Mobile (+/-) 6inch Setting section*/
{
#form-login, #form-register, #clear-order {
  width:  45vw !important;
}
}

@media screen and (min-width: 992px) /*Mobile (+/-) 6inch Setting section*/
{
#form-login, #form-register, #clear-order{
  width:  35vw !important;
}
}

@media screen and (min-width: 1024px) /*Mobile (+/-) 6inch Setting section*/
{
#form-login, #form-register, #clear-order {
  width:  30vw !important;
}
}

.nav-btn, .navhome-btn {
  transition: 0.8s;
  border:  0.1rem solid yellow;
  border-radius: 0.4rem;
  background-color: yellow;
  margin-right: 0.1rem;
  min-width: 6rem;
}

.admin-btn, .adminhome-btn {
  transition: 0.8s;
  border:  0.1rem solid skyblue;
  border-radius: 0.4rem;
  background-color: skyblue;
  margin-right: 0.1rem;
  min-width: 6rem;
}

.admin-btn:hover, .adminhome-btn:hover {
  background-color: lightblue;
}

.nav-btn:hover, .navhome-btn:hover, .banner, .carousel-desc, #form-register, #form-login, #clear-order, #form-search, #prodBanner, #prodComp, #prodFood, #cartbanner, #orderbanner{
  background-color: lightgoldenrodyellow;
}

.card-title, .card-row, .orderbanner{
  padding-bottom:  0.5rem;
  border-bottom: 0.1rem solid gray;
}

.background-clear {
  background-color: rgba(0, 0, 0, 0.3);
}

/*.banner {
  background-color: lightgoldenrodyellow;
}*/

